<ion-view view-title="Dictionaries">
	<ion-content id="search-tab-content"
				 class="padding" style="overflow: hidden !important;">
		<div style="height: 100%;">
			<div style="height: 72px">
				<input type="search"
					   class="col"
					   placeholder="Search here..."
					   id="search-input" />
				<div style="margin-top: 5px; font-size: smaller; color: gray;">
					5 result for <span class="text-bold">eat</span>
				</div>
			</div>
			<div class="col"
				 style="height: calc(100% - 50px); overflow: auto;">
				<div class="card">
					<div class="item item-divider text-right" style="font-size: smaller;">
						English &rarr; Indonesia
					</div>
					<div class="item item-text-wrap">
						This is a basic Card with some text.
					</div>
				</div>
				<div class="card">
					<div class="item item-divider text-right" style="font-size: smaller;">
						English &rarr; Indonesia
					</div>
					<div class="item item-text-wrap">
						This is a basic Card with some text.
					</div>
				</div>
				<div class="card">
					<div class="item item-divider text-right" style="font-size: smaller;">
						English &rarr; Indonesia
					</div>
					<div class="item item-text-wrap">
						This is a basic Card with some text.
					</div>
				</div>
				<div class="card">
					<div class="item item-divider text-right" style="font-size: smaller;">
						English &rarr; Indonesia
					</div>
					<div class="item item-text-wrap">
						This is a basic Card with some text.
					</div>
				</div>
				<div class="card">
					<div class="item item-divider text-right" style="font-size: smaller;">
						English &rarr; Indonesia
					</div>
					<div class="item item-text-wrap">
						This is a basic Card with some text.
					</div>
				</div>
				<div class="card">
					<div class="item item-divider text-right" style="font-size: smaller;">
						English &rarr; Indonesia
					</div>
					<div class="item item-text-wrap">
						This is a basic Card with some text.
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
